@import "tailwindcss";

/* Light theme colors */
:root {
 


  /* Only one font now */
  --font-sans: var(--font-inter-tight);
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: white;
    --foreground: black;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, sans-serif;
  overflow-y: hidden;
}
