@import "tailwindcss";

/* Light theme colors */
:root {
  --font-sans: var(--font-inter-tight);     /* Body font */
  --font-heading: var(--font-unbounded);    /* Heading font */
}

body {
  font-family: var(--font-sans), Arial, sans-serif;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading), serif;
}
