@import "tailwindcss";

/* Light theme colors */
:root {
  --font-body: var(--font-clash-display);
}

/* Apply to Entire Site */
body {
  font-family: var(--font-body), Arial, sans-serif;
  overflow-x: hidden;
  position: relative;
}


body::-webkit-scrollbar{
  display: none !important;
}

/* Optional: Override heading tags for extra control */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-body), serif;
}


.parallax {
  position: relative;
  overflow: hidden;
}

.scroller {
  display: flex;
  white-space: nowrap;
  text-align: center;
  font-family: sans-serif;
  font-size: 5rem !important;
  font-weight: bold;
  letter-spacing: -0.02em;
  filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.1));
}

.scroller span {
  flex-shrink: 0;
}

@media (min-width: 768px) {
  .scroller {
    font-size: 5rem;
    line-height: 5rem;
  }
}


.circular-text {
  margin: 0 auto;
  border-radius: 50%;
  width: 200px;
  position: relative;
  height: 200px;
  font-weight: 300 !important;
  color: #fff;
  font-weight: 900;
  text-align: center;
  cursor: pointer;
 
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.circular-text span {
  position: absolute;
  display: inline-block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 24px;
  transition: all 0.5s cubic-bezier(0, 0, 0, 1);
}






